body {
  color: azure;
  font-family: Roboto, "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
  font-size: calc(12px + 0.3vw);
  font-weight: normal;
}

a {
  color: inherit;
  /* text-decoration: none; */
}

/** Wrappers */
.index_wrapper {
  min-height: 100vh;
  width: 100vw;
  position: relative;
  justify-content: center;
  align-items: center;
  background: url("/blog/assets/img/pexels-matheus-bertelli-1144687.jpg")
    rgba(191, 191, 191, 0.3);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.wrapper_info {
  justify-content: flex-start;
  align-items: center;
}

/** Flex Classes */
.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.justify-between {
  justify-content: space-between;
}

/** In the info_wrapper */
.info_text {
  line-height: 1.8em;
  text-align: center;
  font-family: inherit;
  margin: 0 0 0.199rem 0;
  background: #2c5646;
  justify-self: center;
  padding: 0.1em 1em;
}

.info_name {
  font-size: 2.5rem;
  font-family: "Roboto Mono", "Courier New", Courier, monospace;
  letter-spacing: 0.1rem;
}

.info_image {
  width: 225px;
  height: 225px;
  border: #2c5646 5px solid;
  border-radius: 50%;
  background-image: url("/blog/assets/img/450x450Image.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/** Navigation */
.nav_list {
  list-style-type: none;
  padding: 0;
  justify-content: center;
}
.nav_list .nav_list-item {
  margin: 0 2em;
}
.nav_list .nav_list-item:hover {
  /* animation-name: nav_list_hover;
  animation-duration: 0.7s;
  animation-timing-function: ease-in-out;
  animation-delay: 2s;
  animation-iteration-count: 1;
  animation-direction: alternate; */
  transition: all 0.35s ease-in-out;
  padding: 5px;
  background-color: #2c5646;
}

/* @keyframes nav_list_hover {
  0% {
    background-color: #2c564609;
  }
  25% {
    padding: 2px;
  }
  50% {
    background-color: #2c5646;
    padding: 5px;
  }
  75% {
    padding: 2px;
  }
  100% {
    background-color: #2c564609;
  }
} */

.social_list {
  list-style-type: none;
  padding: 0;
  flex-wrap: wrap;
  justify-content: center;
}
.social_list .social_list-item {
  border-radius: 50%;
  background-color: white;
  margin: 0.5em 1rem;
  width: fit-content;
}
.social_list .social_list-item:hover {
  transition: all 0.7s ease-in-out;
  transform: rotateY(360deg);
}

.social_icon {
  padding: 5px 7px;
  width: 16px;
}

/** Adaptive */
/* @media only screen and (max-width: 530px) {
  ul.flex-row {
    flex-direction: column;
  }
} */
